
.content {
  Background: #D74254;
  background-image: linear-gradient(-180deg, #EA3E3E 0%, #4F0606 97%);
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;

.cont-child5{
  font-family: Buffalo Nickel;
  text-align: center;
  font-size: 144px;
  transform: rotate(-16deg);
  color: white;
}
.caption{
  font-family: calibri;
  font-size: 24px;
  transform: rotate(15.5deg);
  line-height: 15em;
  float: left;
}
.sm-caption{
  font-family: Buffalo Nickel;
  font-size: 24px;
  padding-bottom: 10em;
  transform: rotate(15.5deg);
  padding-top: 8em;
  padding-left: 2em;

 }
 .cont-child8{
   font-family: calibri;
   text-align: center;
   color: #F18787;
 }

}
